@charset "UTF-8";
// side bar
$sideBar: 65px;

//thema color
$theme-colors: (
  primary: #212121,
  text01: #212121b3,
  hover01:#e4e4e4,
  black01: #3a3a3a,
  bordeColor: #c3c3c3,
  base: #f2f5f7,
);
$dark-theme-colors: (
  primary: #d5d6cdcc,
  text01: #ffffff4d,
  hover01:#ffffff33,
  black01: #ffffff80,
  bordeColor: #c3c3c333,
  base: #0b1823,
);
:root {
  @each $key, $color in $theme-colors {
    --color-#{$key}: #{$color};
  }
  &[data-theme='dark'] {
    @each $key, $color in $dark-theme-colors {
      --color-#{$key}: #{$color};
    }
  }
}

$en : 'Rubik', sans-serif;
@mixin transition01 {
  transition-duration: .3s;
}