@charset "UTF-8";
@import "mixin";
:root {
    --color-primary: #212121;
    --color-text01: #212121b3;
    --color-hover01:#e4e4e4;
    --color-black01: #3a3a3a;
    --color-bordeColor: #c3c3c3;
    --color-base: #f2f5f7;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #d5d6cdcc;
        --color-primary: #d5d6cdcc;
        --color-text01: #ffffff4d;
        --color-hover01:#ffffff33;
        --color-black01: #ffffff80;
        --color-bordeColor: #c3c3c333;
        --color-base: #0b1823;
    }
}
/*================================================
    reset
================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
body{
    font-size: 16px;
    line-height: 1;
    font-family: 'Noto Sans JP';
    background: var(--color-base);
}
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-primary);
}
.en{
    font-family: 'Rubik', sans-serif;
}
/*================================================
    header
================================================*/
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(400px - #{$sideBar});
    padding:50px 50px 0 0;
    z-index: 600;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__item{
        font-size: 1.8rem;
        &:not(:first-of-type){
            margin-left: 15px;
        }
        &--icon{
            width: 37px;
            height: 37px;
        }
    }
}
/*================================================
    sideBar
================================================*/
.sideBar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $sideBar;
    width: 100%;
    height: 100vh;
    border-right: 1px solid var(--color-bordeColor);
    backdrop-filter: blur(2px);
    z-index: 500;
    &__index{
        margin: 5px auto 0;
        text-align: center;
    }
    &__bottom {
        margin: 0 auto 37px;
        text-align: center;
    }
}
/*================================================
    mainWrap
================================================*/
.mainWrap{
    position: relative;
    display: flex;
    z-index: 500;
}
.mainContent{
    position: relative;
    max-width: calc(100% - #{$sideBar});
    width: 100%;
    padding: 50px 0 0 40px;
    z-index: 500;
    &.js_active{
        .bg_change:not(.js_active){
            opacity: 0.5;
        }
    }
}
.change_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    &__item{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0;
        transform: translateY(-50px) rotate(-1deg);
        transition-duration: 0.5s;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background: var(--color-base);
        transition-duration: 0.2s;
        z-index: 100;
    }
}
.js_active.change_bg{
    .change_bg__item{
        &.active{
            transform: translateX(0) rotate(0deg);
            opacity: 1;
        }
    }
    &:before {
        opacity: 0;
    }
}
/*================================================
    articleItem
================================================*/
.articleItem{
    margin-bottom: 50px;
    &__title{
    font-size: 4.0rem;
    font-weight: bold;
    margin-bottom: 12px;
    display: inline-block;
        & a{
            position: relative;
            padding: 0 0 0 40px;
            transition-duration: .3s;
            &:hover{
                color: #000;
            }
        }
    }
    &__flex{
        display: flex;
        padding: 0 0 0 40px;
    }
    &__num{
        position: absolute;
        left: 0;
        top: 0.7rem;
        font-family: $en;
        font-size: 1.4rem;
        font-weight: 400;
    }
    &__date{
        margin-right: 10px;
    }
    &__date,&__category{
        font-size: 1.4rem;
        font-family: $en;
        font-weight: 300;
        color: var(--color-text01);
    }
}
/*================================================
    animationActive
================================================*/
@for $i from 1 through 20 {
    .animation:nth-child(#{$i}n) {
        &.animation--cmb, & .animation--cmb{
            transition-delay: $i*0.1s;
        }
    }
}
.animationLeft{
    transform: translateX(-30px);
    animation-timing-function: cubic-bezier(0.6, 0.11, 1, 1);
    transition-duration: 0.8s;
    opacity: 0.2;
    &.animationActive{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animationWeight {
    0% {opacity:0;}
    100% {opacity:1;}
}
.animationWeight{
    animation:animationWeight 0.02s ease-in-out infinite alternate;
    animation-iteration-count:8;
    &.animationActive{
        opacity: 1;
    }
}
/*================================================
    svgIcon
================================================*/
.svgSize{
    width: 28px;
    height: 28px;
}

// button icon
@mixin buttonIcon {
    padding: 10px;
    color: var(--color-black01);
    fill: var(--color-black01);
    border-radius: 5px;
    cursor: pointer;
    @include transition01;
}
.button_icon{
    @include buttonIcon;
    &--disabled{
        @include buttonIcon;
        pointer-events: none;
        color: #7d7d7d33;
        fill: #7d7d7d33;
    }
    &:hover{
        background: var(--color-hover01);
    }
}


.marginBottom{
    *:not(:first-of-type){
        margin-top: 12px;
    }
}

.flex{
    display: flex;
}
.weight300{
    font-weight: 300;
}