:root {
  --color-primary: #212121;
  --color-text01: #212121b3;
  --color-hover01: #e4e4e4;
  --color-black01: #3a3a3a;
  --color-bordeColor: #c3c3c3;
  --color-base: #f2f5f7;
}

:root[data-theme='dark'] {
  --color-primary: #d5d6cdcc;
  --color-text01: #ffffff4d;
  --color-hover01: #ffffff33;
  --color-black01: #ffffff80;
  --color-bordeColor: #c3c3c333;
  --color-base: #0b1823;
}

:root {
  --color-primary: #212121;
  --color-text01: #212121b3;
  --color-hover01:#e4e4e4;
  --color-black01: #3a3a3a;
  --color-bordeColor: #c3c3c3;
  --color-base: #f2f5f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #d5d6cdcc;
    --color-primary: #d5d6cdcc;
    --color-text01: #ffffff4d;
    --color-hover01:#ffffff33;
    --color-black01: #ffffff80;
    --color-bordeColor: #c3c3c333;
    --color-base: #0b1823;
  }
}

/*================================================
    reset
================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Noto Sans JP';
  background: var(--color-base);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary);
}

.en {
  font-family: 'Rubik', sans-serif;
}

/*================================================
    header
================================================*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(400px - 65px);
  padding: 50px 50px 0 0;
  z-index: 600;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__item {
  font-size: 1.8rem;
}

.header__item:not(:first-of-type) {
  margin-left: 15px;
}

.header__item--icon {
  width: 37px;
  height: 37px;
}

/*================================================
    sideBar
================================================*/
.sideBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 65px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid var(--color-bordeColor);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 500;
}

.sideBar__index {
  margin: 5px auto 0;
  text-align: center;
}

.sideBar__bottom {
  margin: 0 auto 37px;
  text-align: center;
}

/*================================================
    mainWrap
================================================*/
.mainWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 500;
}

.mainContent {
  position: relative;
  max-width: calc(100% - 65px);
  width: 100%;
  padding: 50px 0 0 40px;
  z-index: 500;
}

.mainContent.js_active .bg_change:not(.js_active) {
  opacity: 0.5;
}

.change_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.change_bg__item {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  -webkit-transform: translateY(-50px) rotate(-1deg);
          transform: translateY(-50px) rotate(-1deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.change_bg:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: var(--color-base);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  z-index: 100;
}

.js_active.change_bg .change_bg__item.active {
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  opacity: 1;
}

.js_active.change_bg:before {
  opacity: 0;
}

/*================================================
    articleItem
================================================*/
.articleItem {
  margin-bottom: 50px;
}

.articleItem__title {
  font-size: 4.0rem;
  font-weight: bold;
  margin-bottom: 12px;
  display: inline-block;
}

.articleItem__title a {
  position: relative;
  padding: 0 0 0 40px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.articleItem__title a:hover {
  color: #000;
}

.articleItem__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 40px;
}

.articleItem__num {
  position: absolute;
  left: 0;
  top: 0.7rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.articleItem__date {
  margin-right: 10px;
}

.articleItem__date, .articleItem__category {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: var(--color-text01);
}

/*================================================
    animationActive
================================================*/
.animation:nth-child(1n).animation--cmb, .animation:nth-child(1n) .animation--cmb {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animation:nth-child(2n).animation--cmb, .animation:nth-child(2n) .animation--cmb {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animation:nth-child(3n).animation--cmb, .animation:nth-child(3n) .animation--cmb {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animation:nth-child(4n).animation--cmb, .animation:nth-child(4n) .animation--cmb {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.animation:nth-child(5n).animation--cmb, .animation:nth-child(5n) .animation--cmb {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.animation:nth-child(6n).animation--cmb, .animation:nth-child(6n) .animation--cmb {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.animation:nth-child(7n).animation--cmb, .animation:nth-child(7n) .animation--cmb {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.animation:nth-child(8n).animation--cmb, .animation:nth-child(8n) .animation--cmb {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.animation:nth-child(9n).animation--cmb, .animation:nth-child(9n) .animation--cmb {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.animation:nth-child(10n).animation--cmb, .animation:nth-child(10n) .animation--cmb {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.animation:nth-child(11n).animation--cmb, .animation:nth-child(11n) .animation--cmb {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.animation:nth-child(12n).animation--cmb, .animation:nth-child(12n) .animation--cmb {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.animation:nth-child(13n).animation--cmb, .animation:nth-child(13n) .animation--cmb {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.animation:nth-child(14n).animation--cmb, .animation:nth-child(14n) .animation--cmb {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.animation:nth-child(15n).animation--cmb, .animation:nth-child(15n) .animation--cmb {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.animation:nth-child(16n).animation--cmb, .animation:nth-child(16n) .animation--cmb {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.animation:nth-child(17n).animation--cmb, .animation:nth-child(17n) .animation--cmb {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.animation:nth-child(18n).animation--cmb, .animation:nth-child(18n) .animation--cmb {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.animation:nth-child(19n).animation--cmb, .animation:nth-child(19n) .animation--cmb {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

.animation:nth-child(20n).animation--cmb, .animation:nth-child(20n) .animation--cmb {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.animationLeft {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.11, 1, 1);
          animation-timing-function: cubic-bezier(0.6, 0.11, 1, 1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  opacity: 0.2;
}

.animationLeft.animationActive {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@-webkit-keyframes animationWeight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationWeight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationWeight {
  -webkit-animation: animationWeight 0.02s ease-in-out infinite alternate;
          animation: animationWeight 0.02s ease-in-out infinite alternate;
  -webkit-animation-iteration-count: 8;
          animation-iteration-count: 8;
}

.animationWeight.animationActive {
  opacity: 1;
}

/*================================================
    svgIcon
================================================*/
.svgSize {
  width: 28px;
  height: 28px;
}

.button_icon {
  padding: 10px;
  color: var(--color-black01);
  fill: var(--color-black01);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.button_icon--disabled {
  padding: 10px;
  color: var(--color-black01);
  fill: var(--color-black01);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  pointer-events: none;
  color: #7d7d7d33;
  fill: #7d7d7d33;
}

.button_icon:hover {
  background: var(--color-hover01);
}

.marginBottom *:not(:first-of-type) {
  margin-top: 12px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weight300 {
  font-weight: 300;
}
/*# sourceMappingURL=index.css.map */